{% extends "base.html" %}
{% load static %}
{% load filters %}

{% block head %}
    <title>Movies</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
{% endblock head %}

<!--Nav-->
{% block nav %}{% include "nav.html" %}{% endblock nav %}

{% block content %}
    <!--Title-->
    <h1>Popular Movies</h1>

    <!--Movie Cards-->
    <div class="container">
        {% for movie in movies %}
            <div class="movie-card"> 
                <p class="img-poster">
                    <a href="{% url 'details' movie.id %}"><img src="https://www.themoviedb.org/t/p/w300{{ movie.poster_path }}" alt="{{movie.original_title}}"></a></p>
            
                        <p class="info-movie"><i class="fas fa-star"></i> {{movie.vote_average}}</p>
                        <p class="info-movie">{{movie.original_title}}</p>
                        <p class="info-movie">{{movie.release_date|get_year}}</p>
            </div>
        {% endfor %}

    </div>
   

{% endblock content %}

