@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Permanent+Marker&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(49, 38, 75));
    color: white;

}
/*Navigator*/
nav{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.15);
    font-size: 26px;
    font-family: 'Montserrat';

}
nav #link-movie{
    text-decoration: none;
    color: white;
}
/*Title Nav*/
nav span{
    position: relative;
    bottom: 22px;
}
/*Search Nav*/
nav div:nth-child(2){
   display: flex;
   align-items: center;

}
/*Input nav*/
nav input[type="search"]{
    height: 39px;
    width: 232px;
    border-radius: 5px;
    padding: 6px;
    background-color: white;
}
/*Btn nav*/
nav #search{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 6px;
}
/*Img Link*/
nav a img{
    height: 36px;
    padding: 7px;
}
/*Title*/
h1{
    width: 300px;
    position: relative;
    left: 167px;
    padding-bottom: 27px;

}

/*Container Cards*/
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

/*Card Movies*/
.movie-card {
    width: 400px;
    color: white;
    font-family: Open Sans,sans-serif;
    font-size: 16px;
}
/*Image Movie*/
.movie-card .img-poster{
    text-align: center;
    transition: 0.5s;
}
.movie-card .img-poster:hover{
    transform: scale(1.1);
}
/*Icon Star*/
.fas {
    color: #ffda00;
}
/*Info movie*/
.movie-card .info-movie{
    width: 300px;
    position: relative;
    left: 50px;
    padding: 7px;
}
/* ---------------Page Details-----------------*/
.content-details{
    display: flex;
    flex-wrap: wrap;

}
/* Box image-descriptions*/
.box-img-description{
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    margin-top: 42px;
}

/*Title movie details*/
.content-details .title-details{
    width: 100%;
    text-align: center;
    font-size: 40px;
    background-color: rgba(49, 81, 127, 0.3);
}
/*Image movie details*/
.content-details .img{
    display: flex;
    flex-basis: 50%;
    justify-content: flex-end;
    padding-right: 19px
}

.content-details .descriptions{
    font-size: 20px;
    line-height: 1.75;
    font-family: Open Sans,sans-serif;
    flex-basis: 40%;
}

/*Overview*/
.content-details .overview{
    margin-top: 60px;
}

/*Settings for Firefox*/
@-moz-document url-prefix() {
    h1 {
        width: 300px;
        position: relative;
        left: 209px;
        padding-bottom: 27px;
      }
}
